*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(#a9d1e0, #9ce1bd, #fdeff2);
    height: 100vh;
}
input{
    height: 35px;
    border-radius: 10px;
    text-align: center;
    background-color: #e5effc;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    background-color: rgb(148, 88, 135);
    padding: 12px 0px 12px 0px;
}
.link
{
    text-decoration: none;
    font-weight: bolder;
    font-size: 32px;
    color: white;
}
.h{
    text-align: center;
    padding-top: 40px;
}
